@import "primeicons/primeicons.css";

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.m-top-1rem {
    margin-top: 1rem;
}